<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a class="mobile-logo">
      <img src="/logo.png" alt="Logo image">
    </a>
    <a id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link logo">
          <a class="logo">
            <img src="/logo.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link">/dev/mail</li>
        <li class="nav-link"><a>About Us</a></li>
        <li class="nav-link"><a>Contact</a></li>
        <!-- <li id="js-centered-more" class="nav-link more"><a>More</a>
          <ul class="submenu">
            <li><a>Submenu Item</a></li>
            <li><a>Another Item</a></li>
            <li class="more"><a>Item with submenu</a>
              <ul class="submenu fly-out-right">
                <li><a>Sub-submenu Item</a></li>
                <li><a>Another Item</a></li>
              </ul>
            </li>
            <li class="more"><a>Another submenu</a>
              <ul class="submenu fly-out-right">
                <li><a>Sub-submenu</a></li>
                <li><a>An Item</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
        <% if user_signed_in? %>
          <li class="nav-link">
            <%= current_user['nick'] %>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to 'Sign in', signin_path(:github) %>
          </li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
