<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="/logo.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
      <li><a>Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a>Facebook</a></li>
      <li><a>Twitter</a></li>
      <li><a>YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a>Terms and Conditions</a></li>
      <li><a>Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>
